## Feature Engineering Ideas

1. Genre id: Imp
2. ts_listen: 
3. media id: 
4. album id: 
5. context type: 
6. release date: 
7. Platform name: 
8. Platform family: Might want use just either
9. Media duration:
10. Listen type: 
11. user_gender:  Gender doesn't seem to matter much, try training with and without it
12. user_id: User Id will indicate user is OLD or new, try categorizing it
3. artist_id: Same with artist Ids, old artists may have joined early and migh have more loyal fans
5. user_age: could be important, younger users could be more random and variety seeking? From the plots seems like the population that listened has the distribution skewed towards aged population and vice versa.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv("train.csv")

ideas:

are id numbers in chronological order? (older user - lower number id)  
can we group them by chronological order and observe a pattern?

map artist gender as feature

In [10]:
data.head(10)

,genre_id,ts_listen,media_id,album_id,context_type,release_date,platform_name,platform_family,media_duration,listen_type,user_gender,user_id,artist_id,user_age,is_listened
0,25471,1480597215,222606,41774,12,20040704,1,0,223,0,0,9241,55164,29,0
1,25571,1480544735,250467,43941,0,20060301,2,1,171,0,0,16547,55830,30,1
2,16,1479563953,305197,48078,1,20140714,2,1,149,1,1,7665,2704,29,1
3,7,1480152098,900502,71521,0,20001030,0,0,240,0,1,1580,938,30,0
4,7,1478368974,542335,71718,0,20080215,0,0,150,0,1,1812,2939,24,1
5,7,1478382544,542335,71718,0,20080215,0,0,150,0,1,1812,2939,24,1
6,7,1478338409,542335,71718,0,20080215,0,0,150,0,1,1812,2939,24,1
7,7,1478353709,542335,71718,1,20080215,1,0,150,1,1,10325,2939,29,1
8,7,1479130924,542335,71718,0,20080215,0,0,150,0,1,1812,2939,24,1
9,7,1479214304,542335,71718,1,20080215,1,2,150,1,1,51,2939,28,1

**There are no missing values**

In [5]:
for column in data.columns:
    if np.any(pd.isnull(data[column])) == True:
        print(column)

In [6]:
data.describe()

,genre_id,ts_listen,media_id,album_id,context_type,release_date,platform_name,platform_family,media_duration,listen_type,user_gender,user_id,artist_id,user_age,is_listened
count,7.558834e+06,7.558834e+06,7.558834e+06,7.558834e+06,7.558834e+06,7.558834e+06,7.558834e+06,7.558834e+06,7.558834e+06,7.558834e+06,7.558834e+06,7.558834e+06,7.558834e+06,7.558834e+06,7.558834e+06
mean,2.245030e+03,1.479011e+09,7.839624e+07,8.136169e+06,2.360018e+00,2.011388e+07,4.731900e-01,2.558086e-01,2.311527e+02,3.068742e-01,3.936884e-01,4.037300e+03,1.500740e+06,2.431278e+01,6.840330e-01
std,1.308979e+04,1.189935e+07,5.133633e+07,5.460090e+06,4.659856e+00,7.570138e+04,7.353008e-01,5.481663e-01,7.999463e+01,4.611968e-01,4.885672e-01,3.954754e+03,2.519546e+06,3.767797e+00,4.648999e-01
min,0.000000e+00,1.000000e+00,2.000580e+05,1.976000e+03,0.000000e+00,1.900010e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.800000e+01,0.000000e+00
25%,0.000000e+00,1.478460e+09,1.376614e+07,1.255566e+06,0.000000e+00,2.009123e+07,0.000000e+00,0.000000e+00,1.960000e+02,0.000000e+00,0.000000e+00,8.990000e+02,2.605000e+03,2.100000e+01,0.000000e+00
50%,3.000000e+00,1.479057e+09,9.380660e+07,9.525626e+06,1.000000e+00,2.014103e+07,0.000000e+00,0.000000e+00,2.220000e+02,0.000000e+00,0.000000e+00,2.738000e+03,1.941720e+05,2.500000e+01,1.000000e+00
75%,2.700000e+01,1.479742e+09,1.262592e+08,1.329221e+07,2.000000e+00,2.016061e+07,1.000000e+00,0.000000e+00,2.540000e+02,1.000000e+00,1.000000e+00,6.064000e+03,1.519461e+06,2.800000e+01,1.000000e+00
max,2.597310e+05,1.480636e+09,1.372601e+08,1.472086e+07,7.300000e+01,3.000010e+07,2.000000e+00,2.000000e+00,6.553500e+04,1.000000e+00,1.000000e+00,1.991700e+04,1.144741e+07,3.000000e+01,1.000000e+00

## How do we deal with duplicated user/song?

In [8]:
print(data["user_id"].unique())
print(len(data["user_id"].unique()))

[ 9241 16547  7665 ..., 19643 18659 18537]
19918

In [9]:
data.duplicated('user_id')

0          False
1          False
2          False
3          False
4          False
5           True
6           True
7          False
8           True
9          False
10         False
11          True
12         False
13         False
14         False
15         False
16         False
17         False
18          True
19         False
20          True
21         False
22         False
23         False
24          True
25         False
26          True
27          True
28          True
29          True
           ...
7558804     True
7558805     True
7558806     True
7558807     True
7558808     True
7558809     True
7558810     True
7558811     True
7558812     True
7558813     True
7558814     True
7558815     True
7558816     True
7558817     True
7558818     True
7558819     True
7558820     True
7558821     True
7558822     True
7558823     True
7558824     True
7558825     True
7558826     True
7558827     True
7558828     True
7558829     True
7558830     True
7558831     True
7558832     True
7558833     True
dtype: bool